@import './stylesheets/variables.scss';
@import './stylesheets/EmployeeContainer.scss';
@import './stylesheets/Buttons.scss';
@import './stylesheets/NewEditEmployeeForm.scss';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

.App-header {
  background-color: $primary-color;
  min-height: 20px;
  padding: 10px 0px 0px 15px;
  display: left;
  text-align: left;
  justify-content: left;
  font-size: 25px;
  color: $secondary-color;
}
