table.employee-table {
	margin: 20px; 
}

table {
	border: 2px solid black;
	border-radius: 5px;
	padding: 3px;
	width: 75%;
	box-shadow: 2px 2px grey;
}

tr:nth-child(even) {background: $even-rows}
tr:nth-child(odd) {background: $odd-rows}

.employee-name {
	height: 25px;
}