table.employee-table {
	margin: 20px; 
}

table {
	border: 2px solid black;
	border-radius: 5px;
	padding: 3px;
	width: 75%;
	box-shadow: 2px 2px grey;
}

tr:nth-child(even) {background: $even-rows}
tr:nth-child(odd) {background: $odd-rows}

.employee-name {
	height: 25px;
}

.employee-form {
	margin: 35px;
	padding: 0px 15px 15px 15px;
	border-radius: 5px;
	text-align: left;
	position: relative;
	width: 500px;
	clear:both;
	border: 2px solid black;
	box-shadow: 2px 2px grey;
}

.employee-form input {
	height: 25px;
	border: 2px solid grey;
	border-radius: 5px;
	position: relative;
	width: 100%;
	clear: both;
}